## @section global parameters
##
## @param global.url service url
## @param global.env[0].name insert env value name to StatefulSet container
## @param global.env[0].value insert env value to StatefulSet container
##
global:
  url: ""
  env:
    - name: ACTIVEMQ_OPTS
      value: '-Xms2G -Xmx60G'

## @section persistent volume claim (pvc) parameters
##
## @param pvc.enable create a pvc?
## @param pvc.storageClass storageClass name for pvc
## @param pvc.size pvc size to set (default: 32Mi)
##
pvc:
  enable: false
  storageClass: nfs-client
  size: 